$main-background-color: #f1f1f1;
$main-font-color: #8d8c8c;
$sub-font-color: #690800;
$banner-background-color: #ffffff;
$menu-background-color: #505050;
$menu-banner-color: #690800;
$menu-font-color: #e4e4e4;
$underline-color: #f3d83f;
$footer-background-color: #690800;
$footer-font-color: ##f1f1f1;